.app {
    background: url('./assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

header {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header {
  height: 30vh;
  width: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;

  position: relative;
  z-index: 1;
  box-sizing: border-box;
}

.main-header h1 {
  margin: 0;
  text-align: right;
}

.header-buttons {
  display: flex;
  gap: 20px;
  margin-top: 16px;
}

.header-buttons button {
    margin-right: 20px;
    margin-left: 20px;
}